<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{../css/ingredient.css}"/>
    <title>비타민K</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="top">
            <div class="logo">
                <a href="/index.html" th:href="@{/}">
                    <img src="/img/black-yagiyo.png" alt=""
                    /></a>
            </div>
            <div class="search_box">
                <input
                        class="searchbar"
                        type="text"
                        placeholder="영양제 성분 검색을 해보세요💊 ! "
                />
                <div class="search_btn">
                    <img src="/img/search_div_icn.png" alt=""/>
                </div>
            </div>
            <nav class="gnb_box">
                <a href="">AI분석</a>
                <a href="">커뮤니티</a>
                <a href="">약국정보</a>
                <a href="">로그인</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <p>비타민K</p>
        </div>
        <div class="contents">
            <article>
                <div class="row row1">
                    <span class="title">💬 비타민K</span>
                    <p>
                        · 상처가 나면 피를 멈춰주고, 혈관 안에서는 피가 굳지 않도록 혈액 응고를 조절하여 원활한 혈액순환을 도와요. <br/>
                        · 비타민K2는 칼슘의 흡수를 도와서 뼈를 튼튼하게 만들어줘요.

                        <br/>
                    </p>
                </div>
                <div class="row row2">
                    <span class="title">▪ 이런 이름으로도 불려요</span>
                    <p>메나퀴논(K2) | MK-4(K2) | MK-7(K2) | 나토추출물(K2) | 필로퀴논(K1) | 피토나디온(K1)</p>
                </div>
                <div class="row row3">
                    <span class="title">▪ 비타민K는 몸에서 대사되는 속도가 빨라, 저장되어 있는 양이 적어요. 식품이나 영양제를 통해 꾸준히 섭취해주는 것이 좋아요.</span>
                    <p>✅ [영양제]로서 일일섭취량은 21~1000μg을 권장하고 있어요.<br>
                        ✅[식품]으로서 1일 영양성분 기준치는 70μg이에요.<br>
                        ✅ [한국인 영양소 섭취기준]에 따르면,<br>
                        식사와 영양제를 모두 포함해서 65μg 이상 섭취하도록 권장하고 있어요. 나이와 성별에 따라 범위가 달라져요.
                    </p>
                </div>
                <div class="row row4">
                    <span class="title">❗ 부작용 및 주의사항</span>
                    <p>수술 전후 지혈을 늦출 수 있음
                    </p>
                </div>
            </article>
        </div>
    </main>
</div>
</body>
</html>
