<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 조회</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./top/top.css" />
    <link rel="stylesheet" href="../footer/footer.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- Header  -->
    <header>
      <div class="top">
        <div class="logo">
          <!-- 이미지 경로 바꿔주세요 -->
          <img src="./top/black-yagiyo.png" alt="" src="/" />
        </div>
        <div class="search_box">
          <input
            class="searchbar"
            type="text"
            placeholder="영양제 성분 검색을 해보세요💊 ! "
          />
          <div class="search_btn">
            <!-- 이미지 경로 바꿔주세요 -->
            <img src="./top/search_div_icn.png" alt="" />
          </div>
        </div>
        <nav class="gnb_box">
          <a href="">AI분석</a>
          <a href="">커뮤니티</a>
          <a href="">약국정보</a>
          <a href="">로그인</a>
        </nav>
      </div>
    </header>
    <!-- Header -->
    <div class="eventPic">게시판</div>
    <div class="readForm">
      <div class="titleInfo">
        <div><a href="./postlist/postlist4.html">핫딜</a></div>
        <div>교촌치킨 3% 할인 이벤트!!</div>
        <div class="postInfo">
          <div>이온음료짱짱맨</div>
          <div>23-03-21 18:22</div>
          <div>조회수 3897</div>
          <div>댓글 3</div>
        </div>
      </div>
      <hr />
      <div class="contentInfo">
        <p>
          교촌치킨 3% 할인 이벤트!!는 낚시이구요!!<br />
          유산균에 대해 알아보겠습니다.<br />
          <br />
          乳酸菌 / Lactobacillales, lactic acid bacteria 발효 결과물로 유산을
          주로 생성하는 그람양성세균으로, 젖산균이라고도 한다. <br />
          넓게 보면 락토바실루스목의 락토바실루스과 젖산균 속 세균들을 총칭하는
          말이고, 좁은 의미로는 사람의 내장, 구강, 성기 등에서 사람과 공생하는
          유익균을 뜻한다.WHO에서는 "충분한 양을 섭취했을 때 건강에 좋은 효과를
          주는 살아있는 균"이라고 정의하고 있다. 1907년, 러시아의 과학자 일리야
          메치니코프에 의해 그 존재와 효능이 처음 알려졌다. 발효 식품인
          요구르트, 김치 등에 많이 포함되어 있다. 우유로 요거트를 만들어 먹다
          보니 동물성이라고 생각하기 쉽지만, 알고보면 식물성 요거트도 얼마든지
          만들 수 있다. 두유나 아몬드 밀크로도 만들어 먹는 경우가 많다. 술에도
          들어있다. 알코올이 극미량만 존재하는 무알코올 맥주에도 유산균이 있다.
        </p>
        <br />
        <p>
          乳酸菌 / Lactobacillales, lactic acid bacteria 발효 결과물로 유산을
          주로 생성하는 그람양성세균으로, 젖산균이라고도 한다.<br />
          넓게 보면 락토바실루스목의 락토바실루스과 젖산균 속 세균들을 총칭하는
          말이고, 좁은 의미로는 사람의 내장, 구강, 성기 등에서 사람과 공생하는
          유익균을 뜻한다.WHO에서는 "충분한 양을 섭취했을 때 건강에 좋은 효과를
          주는 살아있는 균"이라고 정의하고 있다. 1907년, 러시아의 과학자 일리야
          메치니코프에 의해 그 존재와 효능이 처음 알려졌다. 발효 식품인
          요구르트, 김치 등에 많이 포함되어 있다. 우유로 요거트를 만들어 먹다
          보니 동물성이라고 생각하기 쉽지만, 알고보면 식물성 요거트도 얼마든지
          만들 수 있다. 두유나 아몬드 밀크로도 만들어 먹는 경우가 많다. 술에도
          들어있다. 알코올이 극미량만 존재하는 무알코올 맥주에도 유산균이 있다.
        </p>
        <br />
        <p>
          乳酸菌 / Lactobacillales, lactic acid bacteria 발효 결과물로 유산을
          주로 생성하는 그람양성세균으로, 젖산균이라고도 한다.<br />
          넓게 보면 락토바실루스목의 락토바실루스과 젖산균 속 세균들을 총칭하는
          말이고, 좁은 의미로는 사람의 내장, 구강, 성기 등에서 사람과 공생하는
          유익균을 뜻한다.WHO에서는 "충분한 양을 섭취했을 때 건강에 좋은 효과를
          주는 살아있는 균"이라고 정의하고 있다. 1907년, 러시아의 과학자 일리야
          메치니코프에 의해 그 존재와 효능이 처음 알려졌다. 발효 식품인
          요구르트, 김치 등에 많이 포함되어 있다. 우유로 요거트를 만들어 먹다
          보니 동물성이라고 생각하기 쉽지만, 알고보면 식물성 요거트도 얼마든지
          만들 수 있다. 두유나 아몬드 밀크로도 만들어 먹는 경우가 많다. 술에도
          들어있다. 알코올이 극미량만 존재하는 무알코올 맥주에도 유산균이 있다.
        </p>
      </div>
      <div class="bottomBtns">
        <div class="leftBtns">
          <button id="editBtn">
            <a href="./postedit.html">수정</a>
          </button class="leftBtns">
          <button id="deleteBtn">
            <a>삭제</a>
          </button>
        </div>
        <div class="rightBtn">
          <button id="backToListBtn" value="BACK" onClick="history.go(-1)">목록
          </button>
        </div>
      </div>
    </div>
    <div class="replies">
      <div class="replyDesc">댓글목록 3</div>
      <div class="repliesWrapper">
        <div class="reply">
          <p class="notMine">교촌치킨짱짱맨
            <button class="btnrereply">댓글</button>
          </p>
          <p>23-03-22 14:13</p>
          <p>와 낚였네요 ㄷㄷ;;</p>
          <div class="rereply">  <p>낚시글에욕한사람
          </p>
          <p>23-03-22 18:25</p>
          <p class="deletedReply">관리자에 의해 삭제된 댓글입니다.</p>
          </div>
          <div class="rereplysheets">
            <div>
              <textarea class="typesomething" type="text" placeholder="댓글내용을 입력해주세요."></textarea>
              <button class="typeBtn" type="submit">댓글 등록</button>
            </div>
          </div>
        </div>
        <div class="reply">
          <p class="mine">
            이온음료짱짱맨
              <button class="btndelete">삭제</button>
              <button class="btnrereply">댓글</button>
          </p>
          <p>23-03-22 14:19</p>
          <p>제가 썼지만 글을 너무 잘 쓴것 같네요^^</p>
            <div class="rereply">
            <p class="notMine">
              뿌링클짱짱맨
              <button class="btnrereply">댓글</button>
            </p>
            
            <p>23-03-22 18:25</p>
            <p>뿌링클을 사랑하는 1인입니다.</p>
          </div>
          <div class="rereplysheets">
            <div>
              <textarea class="typesomething" type="text" placeholder="댓글내용을 입력해주세요."></textarea>
              <button class="typeBtn" type="submit">댓글 등록</button>
            </div>
          </div>
        </div>
        <div class="reply">
          <p class="notMine">뿌링클짱짱맨
            <button class="btnrereply">댓글</button>
          </p>
          <p>23-03-22 14:27</p>
          <p>안녕하세요? <br /><br /> 뿌링클을 사랑하는 1인입니다.</p>
          <div class="rereply">
            <p class="mine">
              이온음료짱짱맨
              <button class="btndelete">삭제</button>
              <button class="btnrereply">댓글</button>
            </p>
            <p>23-03-22 14:55</p>
            <p>죄송한데 전 뿌링클 싫어합니다^^</p>
          </div>
          <div class="rereplysheets">
            <div>
              <textarea class="typesomething" type="text" placeholder="댓글내용을 입력해주세요."></textarea>
              <button class="typeBtn" type="submit">댓글 등록</button>
            </div>
          </div>
        </div>
        <div class="replysheets">
            <div>
              <textarea class="typesomething" type="text" placeholder="댓글내용을 입력해주세요."></textarea>
              <button class="typeBtn" type="submit">댓글 등록</button>
            </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="box1">
        <button><a href="./postlist1.html">전체</a></button>
        <button><a href="./postlist2.html">자유</a></button>
        <button><a href="./postlist3.html">정보</a></button>
        <button class="main"><a href="./postlist4.html">핫딜</a></button>
      </div>
      <div class="box2">Total 1,773건 1페이지</div>
      <div class="box3">
        <select class="srch" id="searchType">
          <option value="">제목</option>
          <option value="">내용</option>
          <option value="">제목+내용</option>
          <option value="">글쓴이</option>
        </select>
        <input
          class="srch"
          id="searchInput"
          type="text"
          placeholder="검색어를 입력해주세요."
        />
        <button class="srch" id="searchBtn" type="submit">검색</button>
      </div>
      <div class="box4">게시판 목록</div>
      <div class="box5">
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>조회</th>
              <th>추천</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3</td>
              <td>핫딜</td>
              <td class="leftPush">
                <a
                  href="../postread.html"
                  style="text-decoration: none; color: inherit"
                  ;
                  >교촌치킨 3% 할인 이벤트!!</a
                >
              </td>
              <td>이온음료짱짱맨</td>
              <td>3897</td>
              <td>2</td>
              <td>18:22</td>
            </tr>
            <tr>
              <td>2</td>
              <td>핫딜</td>
              <td class="leftPush">울산KH정보교육원 주말특강!!</td>
              <td>교촌치킨짱짱맨</td>
              <td>8979</td>
              <td>2</td>
              <td>03-17</td>
            </tr>
            <tr>
              <td>1</td>
              <td>핫딜</td>
              <td class="leftPush">홈런볼 행사 (내용물 2% 추가!!)</td>
              <td>뿌링클짱짱맨</td>
              <td>30</td>
              <td>2</td>
              <td>03-15</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bottomLineups">
        <div class="pageSelector">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">></a>
          <a href="#">>></a>
        </div>
        <div class="writeBtn">
          <a href="../postwrite.html">글쓰기</a>
        </div>
      </div>
    </div>
  </body>
      <!-- footer -->
    <footer>
      <div class="footer_area">
        <div class="top">
          <img class="footer_img" src="../footer/white-yagiyo.png" alt="" />
          <div class="footer_menu">
            <a href="">이용약관</a>
            <a href="">개인정보처리방침</a>
            <a href="">제휴문의</a>
            <a href="">매장안내</a>
          </div>
        </div>
        <div class="bottom">
          <div class="info">
            <span>주(야기요)</span>
            <span>대표 000</span>
            <p>
              서울특별시 송파구 올림픽로35다길 42, 21~23층 | 사업자등록번호
              220-88-43130
            </p>
            <p></p>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright 2023 YAGIYO. Allrights reserved.</p>
        </div>
      </div>
    </footer>
    <!-- footer -->
  <script src="js/javascript.js"></script>
</html>
