<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>apple</title>
</head>
<style>


</style>
<body>

<div th:fragment="header" id="apple-header" th:class="item_cards">
  <div class="item_box">
    <a href=""><img src="../img/item01.jpg" alt=""/>
    <div class="text_1">나우푸드 <span style="color:blue">오메가3</span></div>
    <div class="text_2">✅눈건강<br> ✅혈액순환 개선<br> ✅눈건강 혈중중성지방 개선</div>
  </a>
  </div>
  <div class="item_box"><a href=""><img src="../img/item02.jpg" alt=""/>
    <div class="text_1">혈행건강 프로메가 알티지 <span style="color:blue">오메가3</span></div>
    <div class="text_2">✅눈건강<br> ✅혈액순환 개선<br> ✅눈건강 혈중중성지방 개선</div>
  </a>
  </div>
  <div class="item_box"><a href=""><img src="../img/item03.jpg" alt=""/>
    <div class="text_1">트리플 스트렝스<span style="color:blue">오메가3 </span>1055mg</div>
    <div>두뇌건강</div>
    <div>혈액순환 개선</div>
  </a>
  </div>
  <div class="item_box"><a href=""><img src="../img/item04.jpg" alt=""/>
    <div class="text_1"><span style="color:blue">오메가3</span>프리미엄 피쉬오일</div>
    <div>두뇌건강</div>
    <div>혈액순환 개선</div>
  </a>
  </div>
  <div class="item_box"><a href=""><img src="../img/item05.jpg" alt=""/>
    <div class="text_1">트리플 스트렝스<span style="color:blue">오메가3 </span></div>
    <div>두뇌건강</div>
    <div>혈액순환 개선</div>
  </a>
  </div>
  <div class="item_box"><a href=""><img src="../img/item06.jpg" alt=""/>
    <div class="text_1">초임계 알티지<span style="color:blue">오메가3 </span></div>
    <div>두뇌건강</div>
    <div>혈액순환 개선</div>
  </a>
  </div>
</div>


<div th:fragment="footer" id="apple-footer" th:class="item_cards">
  <a href=""><img src="../img/item01.jpg" alt=""/></a>
  <a href=""><img src="../img/item02.jpg" alt=""/></a>
  <a href=""><img src="../img/item03.jpg" alt=""/></a>
  <a href=""><img src="../img/item04.jpg" alt=""/></a>
  <a href=""><img src="../img/item05.jpg" alt=""/></a>
  <a href=""><img src="../img/item06.jpg" alt=""/></a>

</div>
</body>
</html>
