@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: "pretendard", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

@keyframes titleMotion {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 1; /* keep opacity at 100% */
        transform: translateY(0);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes bounce-effect {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(-7px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
}

body {
    width: 100%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* 바텀 고정 되있는 건강설문조사 */
#health-research {
    position: fixed;
    bottom: 10px;
    font-weight: 800;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
}
.top {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고이미지 */
.logo {
    margin-top: 15px;
}
.top .logo > a img {
    width: 150px;
}

/* 검색 */
.top .search_box {
    display: flex;
    height: 30px;
}
.search_box form {
    display: inline-block;
    position: relative;
    width: 553px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #067dfd;
    box-sizing: border-box;
    vertical-align: top;
}
.search_box input {
    width: 400px;
    height: 20px;
    outline: transparent;
    border: 0;
    margin: 12px 17px 17px 17px;
    padding-left: 5px;
}
.search_box button {
    left: 510px;
    bottom: 8px;
    right: 0px;
    background-color: inherit;
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    background-image: url(../img/search.png);
    background-size: cover;
}

/* 탑메뉴 */
.top .gnb_box {
    display: flex;
    position: relative;
    font-weight: 600;
    height: 30px;
    margin-top: 20px;
}

.gnb_box > a {
    position: relative;
    margin-left: 40px;
}
.gnb_box .login,
.logout {
    margin-left: 40px;
}

.gnb_box .login a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.25s ease;
}
.gnb_box .login a:hover::before {
    width: 40px;
}
.gnb_box .logout a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.25s ease;
}
.gnb_box .logout a:hover::before {
    width: 55px;
}
.gnb_box > a::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.25s ease;
}

.gnb_box > a:hover::before {
    width: 100%;
}
/*  M  a  i  n */

main::before {
    width: 100%;
    position: absolute;
    height: 1px;
    content: "";
    background-color: #bbbbbb;
    opacity: 50%;
    margin-top: -20px;
}
main {
    position: relative;
    width: 1280px;
    margin: 90px auto 0px auto;
}

/* 메인-헤더 배경화면 */
.main_visual {
    margin: 0px auto;
    border-radius: 30px;
    width: 1280px;
    height: 1000px;
    background-image: url(../img/main_visual.png);
    height: 500px;
    background-size: cover;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 헤더 텍스트 */
.on {
    animation: titleMotion 3s ease-out;
}

.main_visual .text1 {
    text-align: center;
    position: absolute;
    opacity: 0;
    font-family: "pretendard", sans-serif;
    font-weight: 800;
    font-size: 60px;
    left: 700px;
    top: 250px;
}

/* 건강설문조사  버튼*/
.main_visual > button {
    position: absolute;
    background-color: #8b4ff6;
    color: #fff;
    width: 300px;
    height: 50px;
    border: none;
    box-shadow: 0px 4px 10px rgba(120, 120, 120, 0.67);
    border-radius: 10px;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    top: 150px;
    left: 750px;
    animation: bounce-effect 0.8s alternate ease-in-out infinite;
    font-size: 30px;
    font-weight: 600;
}

/* Section */

.nutrients_wrap {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
.section_text {
    display: flex;
    position: inline;
    margin: 20px auto;
    justify-content: center;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
}
.img_box {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.img_box .ingredient {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    outline: 1px solid #bbbbbb;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
    box-shadow: 0px 5px 10px rgba(70, 56, 147, 0.1);
}
.img_box .ingredient:hover {
    outline: 5px solid #bbbbbb;
    font-weight: bold;
    box-shadow: 5px 10px 5px 5px rgba(100, 100, 100, 0.1);
}
.img_box div p {
    font-size: 20px;
    font-weight: 600;
}
.more_info {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: -40px;
    font-weight: bold;
}
/* 건강에 따른 성분 */
.health_wrap {
    position: relative;
    width: 1280px;
    margin-top: 100px;
    overflow: hidden;
}
.health_contents .swiper-button-next::after {
    position: absolute;
    left: 60px;
    top: -120px;
}
.health_contents .swiper-button-prev::after {
    position: absolute;
    left: -60px;
    top: -120px;
}
.mySwiper1 .swiper-wrapper {
    width: 1280px;
}
.health_box {
    display: flex;
}
.health_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #ffdada;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    box-shadow: 0px 5px 10px rgba(70, 56, 147, 0.1);
    margin: 4px;
    text-align: center;
}
.health_icon:hover {
    outline: 5px solid #bbbbbb;
    font-weight: bold;
    box-shadow: 5px 10px 5px 5px rgba(100, 100, 100, 0.1);
}
/* Article 기사 */

article {
    width: 1280px;
    margin: 100px auto;
}
article::before {
    width: 1280px;
    position: absolute;
    height: 1px;
    content: "";
    background-color: #bbbbbb;
    margin: -10px;
}
section {
    display: flex;
}
article section img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
}
article section .side-content {
    flex-direction: column;
    margin: 30px;
}
article section span {
    outline: 1px solid #999;
    border-radius: 10px;
    font-size: 15px;
    color: #999;
    padding: 10px;
}
article section .content {
    display: flex;
}
.side-content .title {
    margin-top: 20px;
}
/* footer */

footer {
    width: 100%;
    background-color: #2d3142;
}
.footer_area {
    width: 1280px;
    color: #999;
    margin: 0 auto;
}

/* footer top */

.footer_area .top {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

/* 푸터 로고 이미지 */
.footer_img {
    width: 150px;
    display: flex;
    margin: 10px;
}
.footer_menu {
    display: flex;
    margin-top: 20px;
}
.footer_menu a {
    display: flex;
    padding-left: 10px;
}

/* footer - bottom */
.footer_area .bottom {
    margin-left: 20px;
}
/* .footer_area .bottom::before {
  width: 100%;
  position: absolute;
  height: 1px;
  content: '';
  background-color: #bbbbbb;
} */
.footer_area .bottom .info {
    width: 1280px;
    text-align: left;
}
.bottom .info .title {
    font-size: 20px;
}

/* copyright */
.footer_area .copyright {
    margin-left: 20px;
}

/* .footer_area .copyright::before {
  width: 100%;
  position: absolute;
  height: 1px;
  content: '';
  background-color: #bbbbbb;
} */
.footer_area .copyright p {
    width: 100%;
    text-align: left;
}
.swiper {
    width: 100%;
    height: 100%;
}
