<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{../css/nutrients.css}"/>

    <title>nutrients</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="top">
            <div class="logo">
                <a th:href="@{/}"
                ><img src="/img/black-yagiyo.png" alt="" href="/index.html"
                /></a>
            </div>
            <div class="search_box">
                <input
                        class="searchbar"
                        type="text"
                        placeholder="영양제 성분 검색을 해보세요💊 ! "
                />
                <div class="search_btn">
                    <img src="/img/search_div_icn.png" alt=""/>
                </div>
            </div>
            <nav class="gnb_box">
                <a href="">AI분석</a>
                <a href="">커뮤니티</a>
                <a href="">약국정보</a>
                <a href="">로그인</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <section></section>
        </div>
        <div class="contents">
            <section></section>
            <div class="nutrients">
                <a href="/nutrients/오메가3">오메가3</a>
                <a href="">프로바이오틱스(유산균)</a>
                <a href="">비타민C</a>
                <a href="">크릴오일</a>
                <a href="">레시틴</a>
                <a href="">코엔자임Q10</a>
                <a href="">비타민B1</a>
                <a href="">비타민A</a>
                <a href="">칼슘</a>
                <a href="">루테인</a>
                <a href="">비타민D</a>
                <a href="">글루코사민</a>
                <a href="">쏘팔메토</a>
                <a href="">공액리놀레산</a>
                <a href="">엽산</a>
                <a href="">셀레늄(셀렌)</a>
                <a href="">폴리코사놀</a>
                <a href="">비타민B6</a>
                <a href="">비타민K</a>
                <a href="">스페인감초추출물</a>
                <a href="">크롬</a>
                <a href="">녹차추출물</a>
                <a href="">비타민E</a>
                <a href="">비타민B12</a>
                <a href="">아연</a>
                <a href="">홍삼</a>
                <a href="">밀크씨슬(실리마린)</a>
                <a href="">베타카로틴</a>
                <a href="">마그네슘</a>
                <a href="">히알루론산</a>
                <a href="">비타민B2</a>
                <a href="">칼륨</a>
                <a href="">프로폴리스</a>
                <a href="">지아잔틴</a>
                <a href="">아스타잔틴</a><a href="">빌베리추출물</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>
